aside{
    background-color: #3B3939;
    box-sizing: border-box;margin: 0;padding:0;width: 100%;height: auto;
}
aside ul{
     box-sizing: border-box;margin:0;padding:0;display:none ; font-size: 18px;
}
aside ul li{
    box-sizing:border-box; margin:0; padding:0;
     list-style: none;position: relative;
}
aside ul li a{
    box-sizing:border-box; margin: 0; padding:5px 20px;
    text-decoration: none; color:#fff; display:inline-block; 
}
aside ul li a:hover{
    box-sizing:border-box; margin: 0; padding:5px 20px;
    background-color: #0D9AD2;border-radius: 0px; height: auto;
}

aside ul li ul{
    display:none; position:absolute;border-radius:0px; font-size: 18px;width: auto;
}
aside ul li:hover ul{
    display:block;z-index: 1;position:absolute;left: 0px;height: auto;background-color:#3B3939 ;
    width: auto;
    
}