body{
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}
#main{
    width:100%;
    margin: 0 auto;

}
/*  ===================== */
/*  ---- Header-----  */
/*  ===================== */

header{
    box-sizing: border-box;margin: 0;padding:0 10px;
    background-color: #69c8ff;
    color: #fff;
}
header h1{
    box-sizing: border-box;margin: 0;padding: 0;width: 100px;height: 60px;
}
header h2{
    float:right;font-size: 15px;box-sizing: border-box;margin: 0;padding:0;
}
header h1 a{
    
    background-size: cover;display:block;text-indent: -99999px;
    box-sizing: border-box;margin: 0px;padding: 0px;width: 100px;height: 60px;
}
/*  ===================== */
/*  ---- Navigation-----  */
/*  ===================== */
nav{
    background-color: #3B3939;
    box-sizing: border-box;margin: 0;padding:0;width: 100%;height: auto;
}
nav ul{
     box-sizing: border-box;margin:0;padding:0;display:none ; font-size: 18px;
}
nav ul li{
    box-sizing:border-box; margin:0; padding:0;
     list-style: none;position: relative;
}
nav ul li a{
    box-sizing:border-box; margin: 0; padding:5px 20px;
    text-decoration: none; color:#fff; display:inline-block; 
}
nav ul li a:hover{
    box-sizing:border-box; margin: 0; padding:5px 20px;
    background-color: #0D9AD2;border-radius: 0px; height: auto;
}

nav ul li ul{
    display:none; position:absolute;border-radius:0px; font-size: 18px;width: auto;
}
nav ul li:hover ul{
    display:block;z-index: 1;position:absolute;left: 0px;height: auto;background-color:#3B3939 ;
    width: auto;
    
}

nav input[type="checkbox"]{
    display: none;
}
nav input[type="checkbox"]:checked ~ ul{
    display: block;
}
header label{
    float:right;
    box-sizing: border-box;margin: 0;padding:10px 20px;
    
}

input[type=text] {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 10px 0 26px 0;
  
  resize: vertical;
}

input[type=radio]{
  margin: 20px 10px 30px 30px;
}

select{
  width: 10%;
  padding: 2px;
  margin: 10px 0 36px 0;
}

input[type=submit] {
  background-color: #008080;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.complain {
    font-size: 20px;
    font-family: arial;
}

input[type=submit]:hover {
  background-color: #9ed9ccff;
}

.container {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  background-color: #f2f2f2;
  padding: 20px;
  margin: 0px 30px 16px 30px;
  width: auto;
}

.heading{
    margin-top: 20px;
    text-align: center;
}

.button {
        
        background-color: #008080;
        border-radius: 5px;
        color: white;
        padding: 5px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;

      }

      .button:hover {
      background: #9ed9ccff;
      
      }

/*  ---- For Tablet-----  */

@media(min-width:768px)
{
    header{
        padding:5px 10px;
    }
    header h1{
        width: 115px;height: 70px;
    }
    header h1 a{
       width: 115px;height:70px;
    }
    header label{
        display: none;
    }
    
    nav ul{
        display:inline-block;
        
    }
    nav ul li{
        display: inline-block;
        

    }

     nav ul li:hover ul{
        position:absolute;top:31px;left:0;background-color: #fff;height: auto;background-color:#3B3939
    }
    nav ul li ul li a{
    width:150px;color:#fff;box-sizing:border-box;margin:0;padding:10px 20px;
    }
    nav ul li ul li a:hover{
        box-sizing:border-box; margin: 0; padding:10px 20px;
        background-color: #0D9AD2;color: #fff;
    }

    select{
        margin-top: 20px;
        width: 20%; 
    }
  
    
    
}



/*  ---- For Mobile-----  */
@media(max-width:500px)
{
   nav{height: auto;}
    input[type=text], textarea {
        width: 100%;
    }

    nav ul li:hover ul{
        position:absolute;top:32px;left:30%;background-color: #fff;height: auto;background-color:#3B3939
    }
    nav ul li ul li a{
    width:150px;color:#fff;box-sizing:border-box;margin:0;padding:10px 20px;
    }
    nav ul li ul li a:hover{
        box-sizing:border-box; margin: 0; padding:10px 20px;
        background-color: #0D9AD2;color: #fff;
    }

    select{
        margin-top: 20px;
        width: 50%; 
    } 
    
}

