.table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse:separate;
    width: 100%;
  }
  
.table td {
    border: 1px solid #DFFEFF;
    padding: 8px;
    text-align: center;
  }
  
  .table tr:nth-child(even){background-color: #DFFEFF;}
  
 .table tr:hover {background-color: #fff2e2;}
  
.table th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    background-color: #146F5E;
    color: #DFFEFF;
  }
  .btn {
    width: 8%;
    background: none;
    border: 2px solid #146F5E;
    color:#07312a;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    top: 77%;
    left:43%;
    border-radius: 50px;
    position: fixed;
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  }
  
  .btn:hover {
    background-color: #146F5E;
    color: #DFFEFF;
  font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  }