body{
    margin: 0;
    padding: 0;
}
#main{
    width:100%;
    margin: 0 auto;
}
/*  ===================== */
/*  ---- Header-----  */
/*  ===================== */
header{
    box-sizing: border-box;margin: 0px;padding:0 10px;
    background-color: #0B6C97;
    color: #fff;
}
header h1{
    box-sizing: border-box;margin: 0px;padding: 0px;width: 100px;height: 60px;
}
header h2{
    float:right;font-size: 15px;box-sizing: border-box;margin: 0;padding:0;
}
header h1 a{
    background: url("../forms/graphic/logo.png");
    background-size: cover;display:block;text-indent: -99999px;
    box-sizing: border-box;margin: 0px;padding: 0px;width: 100px;height: 60px;
}
/*  ===================== */
/*  ---- Navigation-----  */
/*  ===================== */
nav{
    background-color: #3B3939;
    box-sizing: border-box;margin: 0;padding: 0;width: 100%;
}
nav ul{
     box-sizing: border-box;margin: 0;padding:0;display:none;
}
nav ul li{
    box-sizing:border-box; margin: 0; padding:0;
     list-style: none;position: relative;
}
nav ul li ul{
    display:none; position:absolute;border-radius:10px;
}
nav ul li:hover ul{
    display:block;z-index: 1;position:absolute;top:0;left: 80px;
}
nav ul li a{
    box-sizing:border-box; margin: 0; padding:5px 20px;
    text-decoration: none; color:#fff; display:inline-block;
}
nav ul li a:hover{
    box-sizing:border-box; margin: 0; padding:5px 20px;
    background-color: #0D9AD2;border-radius: 0px;
}

nav input[type="checkbox"]{
    display: none;
}
nav input[type="checkbox"]:checked ~ ul{
    display: block;
}
header label{
    float:right;
    box-sizing: border-box;margin: 0;padding:10px 20px;
    
}

input[type=text], textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 10px 0 26px 0;
  
  resize: vertical;
}

select{
  width: 10%;
  padding: 2px;
  margin: 10px 0 36px 0;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 10px 30px 16px 30px;
}


/*  ---- For Tablet-----  */

@media(max-width:768px)
{
    header{
        padding:5px 10px;
    }
    header h1{
        width: 115px;height: 70px;
    }
    header h1 a{
       width: 115px;height:70px;
    }
    header label{
        display: none;
    }
    nav ul{
        display:inline-block;
    }
    nav ul li{
        display: inline-block;
    }
    nav ul li:hover ul{
        position:absolute;top:29px;left:0;background-color: #fff;;
    }
    nav ul li ul li a{
    width:150px;color:#000;box-sizing:border-box;margin:0;padding:10px 20px;
    }
    nav ul li ul li a:hover{
        box-sizing:border-box; margin: 0; padding:10px 20px;
        background-color: #0D9AD2;border-radius: 10px;color: #fff;
    }

    

    select{
        margin-top: 20px;
        width: 20%; 
    }
  
    
    
}



/*  ---- For Mobile-----  */
@media(max-width:350px)
{
   header{
        padding:5px 10px;
    }
    header h1{
        width: 115px;height: 70px;
    }
    header h1 a{
       width: 115px;height:70px;
    }
    header label{
        display: none;
    }
    nav ul{
        display:inline-block;
    }
    nav ul li{
        display: inline-block;
    }
    nav ul li:hover ul{
        position:absolute;top:29px;left:0;background-color: #fff;;
    }
    nav ul li ul li a{
    width:150px;color:#000;box-sizing:border-box;margin:0;padding:10px 20px;
    }
    nav ul li ul li a:hover{
        box-sizing:border-box; margin: 0; padding:10px 20px;
        background-color: #0D9AD2;border-radius: 10px;color: #fff;
    }

    input[type=text], textarea {
        width: 100%;
    }

    select{
        margin-top: 20px;
        width: 50%; 
    } 
}

