body{
    margin: 0;
    padding: 0;
    background-color: #DFFEFF;
}
#main{
    width:100%;
    margin: 0 auto;
    height: auto;

}
/*  ===================== */
/*  ---- Header-----  */
/*  ===================== */

header{
    box-sizing: border-box;margin: 0;padding:0 10px;
    background-color:transparent;
    color: #fff;
}
header h1{
    box-sizing: border-box;margin: 0;padding: 0;width: 100px;height: 60px;
}
header h2{
    float:right;font-size: 15px;box-sizing: border-box;margin: 0;padding:0;
}

/*  ===================== */
/*  ---- Navigation-----  */
/*  ===================== */
nav{
    background:transparent;
    color: #146F5E;
	left: 20%;
    top: 2%;
	font-weight: bold;
	font-style:italic;
    position: fixed;
}
nav ul{
     box-sizing: border-box;margin:0;padding:0;display:none ; font-size: 18px;
}
nav ul li{
    box-sizing:border-box; margin:0; padding:0;
     list-style: none;position: relative;
}
nav ul li a{
    box-sizing:border-box; margin: 0; padding:5px 20px;
    text-decoration: none; font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    color:#008080;
    font-size: 18px;
    font-style: italic;
     display:inline-block;
     align-content: center;
}
nav ul li a:hover{
    box-sizing:border-box; margin: 0; padding:5px 20px;
    background-color: #008080;color:#DFFEFF;font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
     border-radius: 0px; height: auto;
}

nav ul li ul{
    display:none; position:absolute;border-radius:0px; font-size: 18px;width: auto;
    
}
nav ul li:hover ul{
    display:block;z-index: 1;position:absolute;left: 0px;height: auto;background-color:#008080;
    width: auto;
    
}

nav input[type="checkbox"]{
    display: none;
}
nav input[type="checkbox"]:checked ~ ul{
    display: block;
}
header label{
    float:right;
    box-sizing: border-box;margin: 0;padding:10px 20px;
    
}



input[type=text], textarea {
    border: none;
    outline: none;
    background:#146F5E;
    color: #DFFEFF;
    font-size: 23px;
    height: 40px;
    width: 350px;
    border-radius: 100px;
    margin: 0px;
    text-align: center;
    overflow: hidden;
  
  resize: vertical;
}

.ucp 
{
	position: fixed;
	top: 0%;
	left: 9.3%;
	
}

select{
  width: 10%;
  padding: 2px;
  margin: 10px 0 36px 0;
}

input[type=submit] {
  background-color: #008080;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btnn{
    position: fixed;
    top: 50%;
    left: 69px;
}
input[type=submit]:hover {
  background-color: #9ed9ccff;
}

.container {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  background-color: #f2f2f2;
  padding: 20px;
  margin: 0px 30px 16px 30px;
  width: auto;
}

.heading{
    margin-top: 20px;
    text-align: center;
}

#block{
    padding: 20px;
    height: auto;
}
 table {
border-collapse: collapse;
width:70%;
color: #084d40;
font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
font-size: 14px;
font-weight: bold;
text-align: center;
border: 1px solid black;
align-content: center;


}
th {
background-color: #146F5E;
color: #DFFEFF;
text-align: center;

}

td{
border: 1px solid #146F5E;
padding: 6px;

}

tr:nth-child(odd) {background-color: #DFFEFF}

.error {color: #c00;   }
      .success{color: #090;}
      .info{color: #00c;}

.complain {
    font-size: 20px;
    font-family: arial;
    width: 200%;
    height: 250px;
}   



#complain{
            background-color: #fff;
            padding: 20px;
            height: 800px; 
            border: 4px solid black;
            width: 70%;
            margin: 20px;
      } 

      .hd2
      {
        margin: 0;
        padding: 0;
      }


      .srch{
        position: relative;
    
        width: 900px;
        left: 1%;
    }
    .btnsrch{
    position: relative;
    }

    .hd{
        padding: 20px;
    }

       


/*  ---- For Tablet-----  */

@media(min-width:778px)
{
    header{
        padding:5px 10px;
    }
    header h1{
        width: 115px;height: 70px;
    }
    header h1 a{
       width: 115px;height:70px;
    }
    header label{
        display: none;
    }
    
    nav ul{
        display:inline-block;
        font-size: 11px;
        
    }
    nav ul li{
        display: inline-block;
        font-size: 17px;
        

    }

     nav ul li:hover ul{
        position:absolute;top:29px;left:0;background-color: #fff;height: auto;background-color:#3B3939
    }
    nav ul li ul li a{
    width:150px;color:#fff;box-sizing:border-box;margin:0;padding:10px 20px;
    }
    nav ul li ul li a:hover{
        box-sizing:border-box; margin: 0; padding:10px 20px;
        background-color: #008080;color: #fff;
    }

    select{
        margin-top: 20px;
        width: 20%; 
    }

  


  
    
    
}



/*  ---- For Mobile-----  */
@media(max-width:400px)
{
    header{
          position: absolute;
          width: 740px;
          


    }
    .hd{
        padding: 20px;
    }

   
   nav{height: auto;}
    input[type=text], textarea {
        width: 100%;
    }

    nav ul li:hover ul{
        position:absolute;top:32px;left:30%;background-color: #fff;height: auto;background-color:#3B3939
    }
    nav ul li ul li a{
    width:150px;color:#fff;box-sizing:border-box;margin:0;padding:10px 20px;
    }
    nav ul li ul li a:hover{
        box-sizing:border-box; margin: 0; padding:10px 20px;
        background-color: #0D9AD2;color: #fff;
    }

    select{
        margin-top: 20px;
        width: 50%; 
    } 

    
   
    

     


 
}

