body {
      display: flex;
      justify-content: center;
      font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
      font-size: 15px;
      background-image: url("admin-man-14.png");
	background-position: right top,0,0;
	background-size: 50%;
	background-repeat: no-repeat;
      }
      form {
      
      background-color: transparent;
      }
      .login-box {
        width: 380px;
        position: fixed;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
        color: #191970;
    }
     
    .login-box h1 {
        position: fixed;
      color: #146F5E;
      font-size: 69px;
      border-bottom: 10px solid #146F5E;
      margin-bottom: 4px;
      font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
      font-weight: bold;
      left: 18%;
      top:-115%;
    }
    ::placeholder{
        color:#FDBC95;
        opacity: 1;
      }
      .container{
        width: 100%;
        overflow: hidden;
        font-size: 20px;
        padding: 8px 0;
        margin: 8px 0;
        
    }
      input[type=text], input[type=password] {
        border: none;
        outline: none;
        background:#146F5E;
        color: #DFFEFF;
        font-size: 23px;
        height: 50px;
        width: 350px;
        border-radius: 100px;
        margin: 7px;
        text-align: center;
        overflow: hidden;
      }
      button {
        width: 8%;
        background: none;
        border: 2px solid #146F5E;
        color:#07312a;
        padding: 5px;
        font-size: 18px;
        cursor: pointer;
        top: 63%;
        left:21%;
        border-radius: 50px;
        position: fixed;
      }
      
      button:hover {
        background-color: #146F5E;
        color: #DFFEFF;
      font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
      }
      .formcontainer {
      text-align: left;
      position: fixed;
      top: 78%;
      left: 13%;
      font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";

      }
      .ucp 
{
	position: fixed;
	top: 0%;
	left: 12.3%;
	
}
      
      a{text-decoration: none;
        
        color: white;}
      .error {color: #c00; }
      .success{color: #090;}
      .info{color: #00c;}

       .link{
            margin: 8px 0 0 5px;
       }
      .link a{
        position: fixed;
        left: 20.3%;
        top: 72%;
        background: none;
        border: 2px solid #146F5E;
        color: #07312a;
        padding-left: 29px;
        padding-top: 5px;;
        padding-bottom: 5px;;
        font-size: 18px;
        cursor: pointer;
        border-radius: 50px;
        background: none;
        width: 7%;
        
        align-content: center;
        }

        .link a:hover {
                background-color: #146F5E;
                color: #DFFEFF;
              font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
              }


      /* Change styles for span on extra small screens */
      @media screen and (max-width: 300px) {
      span.psw {
      display: block;
      float: none;
      }}