html, body {
      
        font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
      font-size: 15px;

      }

      #container{
             width: 40%;
             margin-left: 400px;

      }
      form {
      box-shadow: 0 0 20px 0 rgba(216, 0, 0, 0.2), 0 5px 5px 0 rgba(209, 1, 1, 0.24);
      padding: 20px;
       
      }
      .container{
             width: 100%;
             border: 1px solid rgb(32, 26, 26);

      }
      input[type=password] {
      width: 100%;
      padding: 16px 8px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid rgb(211, 5, 5);
      box-sizing: border-box;
      }
       
       .txt{
            width: 100%;
            
            margin: 20px;

       }
      

      input[type=submit]{
      background: #008080;
      }
      input[type=submit]:hover{
      background: rgb(1, 216, 169);
      }
      button {
      background-color: #000000;
      color: rgb(0, 0, 0);
      padding: 14px 0;
      margin: 10px 0;
      border: none;
      cursor: pointer;
      width: 50%;
      }
      h1 {
      text-align:left;
      font-size:18px;
      }
      button:hover {
      background: #146F5E;
      font-weight: bold;
      color: #000000;
      }
      .formcontainer {
      text-align: left;
      
       

      }

      
      

      .error {color: #c00; }
      .success{color: #090;}
      .info{color: #00c;}


      /* Change styles for span on extra small screens */      

       @media(max-width: 1024px) {
      #container {
      width: 80%;
      margin-left: 400px;
      position: absolute;
      right: 10%;
      }
}

      @media(max-width: 400px) {
      #container {
      width: 100%;
      position: absolute;
      right: 0%;
      }

      .formcontainer{
            width: 100%;
            position: relative;
            right: 15%;
      }
             
            
      }