html, body {
      
      font-family: Roboto, Arial, sans-serif;
      font-size: 15px;

      }

      #container{
             width: 40%;
             margin-left: 400px;

      }
      form {
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      padding: 20px;
      }
      input[type=text] {
      width: 10%;
      padding: 16px 8px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      }
      button {
      background-color: #4CAF50;
      color: white;
      padding: 14px 0;
      margin: 10px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      }
      h1 {
      text-align:center;
      font-size:18;
      }
      button:hover {
      background: #65ec68;
      font-weight: bold;
      color: #ffffff;
      }
      .formcontainer {
      text-align: left;
      margin: 24px 50px 12px;
      }
      

      .error {color: #c00; }
      .success{color: #090;}
      .info{color: #00c;}


      /* Change styles for span on extra small screens */
      

       @media(max-width: 1024px) {
      #container {
      width: 80%;
      margin-left: 400px;
      position: absolute;
      right: 10%;
      }
}

      @media(max-width: 500px) {
      #container {
      width: 100%;
      position: absolute;
      right: 0%;
      }

      .formcontainer{
            width: 100%;
            position: relative;
            right: 15%;
      }
             
            
      }