    html, body {
      min-height: 100%;
      }
      body, div, form, input, select, p { 
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 16px;
      color: black;
      }

      body
      {
       background-color:#F9F9F9;
      }
      h1, h2 {
      text-transform: uppercase;
      font-weight: 400;
      }
      h2 {
      margin: 0 0 0 8px;
      font-weight: bold;
      }
      .main-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 5px; 
      background-color:brown;
      }
      .left-part, form {
      padding: 25px;
      }
      .left-part {
      text-align: center;
      }
      .fa-graduation-cap {
      font-size: 72px;
      }
      form {
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);  
      }
      .title {
      display: flex;
      align-items: center;
      margin-bottom:0px;
      }
      .info {
      display: flex;
      flex-direction: column;
      }
      input, select {
      padding: 5px;
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid #6e6f71;
      }
      input::placeholder {
      color: #6e6f71;
      }
      option:focus {
      border: none;
      }
      option {
      background: white; 
      border: none;
      }
      .checkbox input {
      margin: 0 10px 0 0;
      vertical-align: middle;
      }
      .checkbox a {
      color: #26a9e0;
      }
      .checkbox a:hover {
      color: #85d6de;
      }
      

      button{
      width: 100%;      
      padding: 10px 5px;
      border-radius: 5px; 
      border: none;
      background: #008080; 
      text-decoration: none;
      font-size: 15px;
      font-weight: 400;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      margin: 20px 5px 0;
      }
        
      button:hover {
      background: #9ed9ccff;
      font-weight: bold;
      color: #ffffff;
      }
      .link{
              text-decoration: none;
              color:red ;
              margin: 0 0 0 5px;
              
      }

      

      .button {
        
        background-color: #008080;
        border-radius: 5px;
        color: white;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;

      }

      .button:hover {
      background: rgb(34, 112, 95);
      font-weight: bold;
      color: #be1313;
      }

      

  
      




      @media (min-width: 568px) {
      html, body {
      height: 100%;
      }
      .main-block {
      flex-direction: row;
      height: calc(100% - 50px);
      }
      .left-part, form {
      flex: 1;
      height: auto;
      }
      }